.select {
  font-weight: 600;
  width: 100%;
}

.mantine-InputWrapper-root {
  width: 100%;
}

.search .mantine-Input-wrapper {
  width: 100%;

  ::placeholder {
    font-weight: 600;
    font-size: 0.85rem;
  }
}
