.card {
  height: 160px;
  width: 160px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  p {
    font-size: 0.75rem;
    font-weight: 600;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.4rem;
  }

  .image {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    font-size: 0.6rem;
    color: var(--alert);
    margin-right: 0.2rem;
  }

  p {
    font-size: 0.6rem;
    color: var(--grey);
    font-weight: 600;
    margin-top: 0;
  }
}
