.wrapper {
  padding: 2rem 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #485460;

  h3 {
    margin: 1rem 0;
  }
  p {
    text-decoration: underline;
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
